{{> menu}}

<section class="section">
  <div class="container">
    <h1 class="title">{{category.title}}</h1>
    <div class="rows">
      <div class="row">
        {{> category-image}}
      </div>
      <div class="row">
        {{> list-placemarks}}
        {{> add-placemark}}
      </div>
   </div>
  </div>
</section>

