 <h6 class="title">Update Password</h6>
<form class="section box" action="/settings/updatepassword" method="POST">
<div class = "text mb-5">
<p>Enter Both Current Password and New Password</p>
</div>
  {{#if error}}
    <p class="has-text-danger">{{error}}</p>
  {{/if}}
<div class="field is-horizontal">
      <div class="field-body">

        <div class="field">
            <p class = "mb-3">Current Password:</p>
          <input class="input" type="password" placeholder="Enter Current Password" name="currentPassword">
        </div>
        <div class="field">
            <p class = "mb-3">New Password:</p>
          <input class="input" type="password" placeholder="Enter New Password" name="newPassword">
        </div>
      </div>
    </div>
    <button class="button is-link">Submit Change</button>
  </form>
</section>