{{> menu}}


<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{category.title}}
    </div>
    {{> list-placemarks}}
    {{> add-placemark}}
  </div>
  <div class="column">
    {{> category-image }}
  </div>
</section>
